@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 43px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  display: flex;
  margin-right: 152px;
  margin-bottom: 11px;

  &__img {
    max-width: 146px;
    height: 39px;
    width: 100%;
  }

  &__item {
    @extend %poppins-700;
    padding: 10px;
    font-size: 36px;
    color: $accent-color;
  }
}

.menu {

  &__items {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    color: #436372;
    margin-bottom: 10px;
  }

  &__item+.menu__item {
    padding-left: 34px;
    padding-bottom: 3px;
  }

  &__link {
    color: $accent-color;
    @extend %rubik-500;
    transition: color 0.3s;
    font-size: 15px;

    &:hover {
      color: #000;
    }
  }
}

.services {
  display: flex;

  &__link {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40px;
    max-width: 80px;
  }

  &__link--search {
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 21px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #a3bbc8;
    }
  }

  &__items {
    width: 180px;
    height: 48px;
    background-color: #fcd7b6;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 10px 0 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #a3bbc8;
    }
  }

  &__visible {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: 4px;
    left: 43px;
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
    @extend %dmsans-400;
  }

  &__visible--border::before {
    content: "";
    border-right: 1px solid #fff;
    height: 30px;
    top: 0px;
    left: 47px;
    position: absolute;
  }

  &__narrow {
    color: #fff;
  }

  &__ref {
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-left: 14px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #8b8b8b;
    }
  }
}

.blog {

  &__slider {
    height: 819px;
    background-color: #fde3cc;
  }

  &__images {
    background-image: url(../images/form.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: 8px;
    height: 100%;
    margin-left: -17vh;
    width: 100%;
  }

  &__img {
    top: 26vh;
    left: 76vh;
    position: absolute;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: end;
    justify-content: center;
    margin-top: -22px;
    position: absolute;
    top: 0;
  }

  &__text {
    max-width: 379px;
    margin-bottom: 34px;
    line-height: 1.7;
    letter-spacing: 0.2px;
    font-size: 18px;
    @extend %rubik-400;
    color: $accent-color;
  }

  &__title {
    font-size: 72px;
    max-width: 500px;
    text-transform: uppercase;
    color: #243f4d;
    line-height: 1;
    margin-bottom: 22px;
  }

  &__link {
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    width: 202px;
    height: 61px;
    text-align: left;
    background-color: #a3bbc8;
    border: #a3bbc8;
    color: #fff;
    font-size: 15px;
    background-position-x: 90%;
    padding: 20px 0 0 30px;
    transition: background-color 0.3s;
    outline: transparent;

    &:hover {
      background-color: #243f4d;
      border: 1px solid;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    outline: transparent;

    button {
      padding: 0;
      background-color: #fde3cc;
      border-color: #fde3cc;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      margin-left: 11px;
      position: relative;
      color: #708088;
      bottom: 74px;
      font-size: 10px;
      right: 4px;
      transition: background-color 0.3s;
      outline: transparent;

      &:hover {
        background-color: #fff;
      }
    }

    .slick-active {
      button {
        background-color: #fff;
      }
    }
  }

  &__information {
    width: 100%;
    height: 170px;
    background-color: #fef7f0;
    margin-top: -36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 65px;
  }

  &__user {
    max-width: 200px;
    position: relative;
    margin-left: 48px;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      left: -75px;
      top: 10px;
    }
  }

  &__user--delivery {
    max-width: 212px;
    margin-bottom: 10px;
    margin-left: 26px;
  }

  &__user--secure {
    max-width: 203px;
    margin-right: -20px;
  }

  &__user--delivery::before {
    background-image: url(../images/truck.svg)
  }

  &__user--support::before {
    background-image: url(../images/icon.svg)
  }

  &__user--secure::before {
    background-image: url(../images/card.svg)
  }

  &__desc {
    font-size: 18px;
    @extend %dmsans-700;
    line-height: 1.9;
    color: #414141;
  }

  &__desc-text {
    font-size: 16px;
    @extend %dmsans-400;
  }

  &__border {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border-left: 1px solid #e8e4df;
      border-right: 1px solid #e8e4df;
      height: 170px;
      width: 56vh;
      left: -22vh;
      top: -47px;
    }
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 92px;

  &__ft {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 24px;
    margin-top: -14px;
  }

  &__address {
    color: $bg-color;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.6;
    font-style: normal;
    max-width: 190px;
    @extend %rubik-400;
  }

  &__phone {
    margin-bottom: 9px;
    display: block;
    margin-top: 11px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 100%;
    max-width: 855px;
  }


  &__title {
    display: block;
    margin-bottom: 24px;
    @extend %dmsans-700;
    text-transform: uppercase;
  }

  &__services {
    margin-left: -18px;
  }

  &__list {
    width: 121px;
  }

  &__link {
    @extend %rubik-400;
    transition: color 0.3s;

    &:hover {
      color: #000;
    }
  }

  &__link {
    margin-bottom: 14px;
    display: block;
  }

  &__items--form {
    max-width: 293px;
    height: 129px;
  }

  &__text {
    color: $bg-color;
    font-size: 14px;
    @extend %rubik-400;
    width: 269px;
    margin-bottom: 41px;
  }
}

.form {

  &__input {
    width: 170px;
    height: 39px;
    background-color: #fef7f0;
    border: #fef7f0;
    font-size: 12px;
    @extend %dmsans-400;
    padding: 0 15px;
    outline: transparent;

    &:focus {
      border: 1px solid;
    }
  }

  &__btn {
    width: 98px;
    height: 39px;
    background-color: #a3bbc8;
    color: #fff;
    padding-right: 11px;
    border: none;
    margin-left: -6px;
    cursor: pointer;
    outline: transparent;
    transition: background-color 0.3s;

    &:hover {
      background-color: #243f4d;
      border: 1px solid #000;
    }
  }
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
  @extend %rubik-400;
  font-size: 14px;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid #dae4e9;
    top: -32px;
    width: 100%;
  }

  &__copy {
    font-size: 14px;
    color: $bg-color;
    margin-left: -5px;
  }

  &__list {
    display: flex;
  }

  &__item {
    color: $bg-color;
  }

  &__link {
    border-right: 1px solid $bg-color;
    padding: 0 15px;
  }

  &__ref {
    margin-left: 18px;
  }

  &__link,
  &__ref {
    transition: color 0.3s;

    &:hover {
      color: #000;
    }
  }

}

.title {
  text-align: center;
  font-size: 36px;
  color: #000;
  @extend %dmsans-700;
}

.list {
  display: flex;
  justify-content: center;
}


.product {

  &__title {
    margin-bottom: 25px;
    margin-right: 8px;
  }

  &__list {
    margin-bottom: 50px;
    margin-right: 0px;
  }

  &__item+.product__item {
    margin-left: 18px;
  }

  &__btn {
    @extend %dmsans-700;
    color: #8b8b8b;
    font-size: 16px;
    transition: color 0.3s;
    border: none;
    background-color: #fff;
    transition: color 0.3s;
    outline: transparent;

    &:hover {
      color: #000;
    }
  }
}

.product-content__desc:hover .product-content__inner {
  opacity: 1;
}

.product-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;

  &__desc {
    max-width: 270px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin: 30px 9px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a3bbc8;
    @extend %dmsans-700;
    font-size: 16px;
  }

  &__images {
    height: 200px;
    max-width: 270px;
  }

  &__img {
    height: 190px;
    max-width: 219px;
    margin-top: -38px;
  }

  &__img--chair {
    height: 165px;
    max-width: 199px;
    margin-right: -32px;
    margin-top: -9px;
  }

  &__img--table {
    max-width: 217px;
    height: 143px;
    margin-top: 6px;
    margin-left: 36px;
  }

  &__img--radio {
    min-width: 220px;
    height: 160px;
    margin-top: -16px;
  }

  &__img--retro {
    height: 171px;
    max-width: 229px;
    margin-top: -11px;
    margin-left: 27px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    width: 270px;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
  }

  &__active {
    box-shadow: 0px 0px 47px 11px rgba(37, 37, 37, 0.15);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: transparent;
  }

  &__active--link,
  &__active--basket,
  &__active--like {
    padding: 15px;
    background-color: #fff;
    transition: background-color 0.3s;

    &:hover {
      background-color: #a3bbc8;

      path {
        fill: #fff;
      }
    }
  }

  &__active--basket {
    margin: 0 15px;
  }

  &__active--like {
    padding-top: 17px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 29px;
    text-align: center;
    @extend %dmsans-400;
    font-size: 16px;
  }

  &__span {
    color: #243f4d;
    margin-bottom: 10px;
    @extend %dmsans-700;
  }
}